@font-face {
    font-family: 'LiberationMono-Regular';
    font-weight: normal;
    font-style: normal;
    src:url('LiberationMono-Regular.otf')format("opentype");
}

@font-face {
    font-family: 'LiberationMono-Bold';
    font-weight: bold;
    font-style: normal;
    src:ul('LiberationMono-Bold.otf')format("opentype");
}

html {
    margin:-200px;
    padding:200px;
}

body {
	font-size: 0.8em;
	font-family: 'LiberationMono-Regular';
    margin: 0;

    margin:-200px;
    padding:200px;
}

p {
    font-size: 0.8em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    orphans: 2;
    widows: 2;
    line-height: 1.5em;
    background: rgba(88,198,206,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(88,198,206,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(88,198,206,1)), color-stop(65%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(88,198,206,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(88,198,206,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(88,198,206,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
background: radial-gradient(ellipse at center, rgba(88,198,206,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58c6ce', endColorstr='#ffffff', GradientType=1 );  




}

h1,h2,h3,h4 {     
    font-family: 'LiberationMono-Regular';
    text-transform:uppercase;
    hyphens: none !important;
    -moz-hyphens: none !important;
    -webkit-hyphens: none !important;
    adobe-hyphenate: none !important;
    /*page-break-before: always;*/
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 0.5em, 0;

}

h1 {
    font-size:1.8em;
    color: #58c7ce;
    page-break-before: always;
}

h2 {
    font-size: 1.5em;
    text-decoration: underline;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
    font-weight: bold;
}

blockquote {
    font-size: 0.9em;
    padding-left: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1.2em;
    margin-left: 0px;
    border: 2px #000 solid;
    margin-top: 1.6em;
    margin-bottom: 1em;
    page-break-inside: avoid;
}

img {
    max-width:900px;
}

figcaption {
    font-size:0.8em;
}

a {
    color: #58c7ce;
}


